<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- 1,定义：要用的属性不存在，要通过已有属性计算得来。
2.原理：底层借助了Objcet.defineproperty.方法提供的getter和setter。
3.get函数什么时候执行？
(1).初次读取时会执行一次。
(2).当依懒的数据发生改变时会被再次调用。
4.优势：与methods实现相比，内部有缓存机制（复用），效率更高，调试方便。
5.备注：
1.计算属性最终会出现在Vm上，直接读取使用即可。
2.如果计算属性要被修改，那必须写set函数去响应修改，
且set中要引起计算时依懒的数据发生改变 -->
<body>
    <div id="app">
        {{ message }} <br>
        姓：<input type="text" v-model="firstname"><br>
        名：<input type="text" v-model="lastname"><br>
        <!-- 全名：<span>{{ firstname +'-' + lastname}}</span> -->
        <!-- 复杂 -->
        <!-- 全名：<span>{{firstname.slice(0,3)}}-{{lastname}}</span> -->

        <!-- 事件小括号加不加都行 返回值必须加小括号 -->
        全名：<span>{{fullname}}</span>
        <!-- 下面的都放在了缓存里面 -->
        <!-- 全名：<span>{{fullname}}</span>
        全名：<span>{{fullname}}</span>
        全名：<span>{{fullname}}</span> -->
    </div>
</body>
<!-- 引入vue -->
<script type="text/javascript" src="/js/vue.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            message: "hello vue",
            firstname: '张',
            lastname: '三',
        },
        computed:{
            fullname: {
                // get有什么作用？当有人读取fullName时，get就会被调用，且返回值就作为ful1Name的值
                // get什么时候调用？1.初次读取fu11Name时。2.所依赖的数据发生变化时
                get(){
                    console.log('get调用了');
                    return this.firstname+'-'+this.lastname
                },
                // 当fullname被修改的时候
                set(value){
                    // this.firstname=1
                    // this.lastname=2
                    console.log('set');
                    const arr= value.split('-')
                    // console.log(arr);
                    this.firstname=arr[0]
                    this.lastname=arr[1]
                }
            }
        }
    })

</script>

</html>